// Заголовки, загальні БЕМ блоки та інше...
.breadcrumbs {
	padding: 24px 0;
	// .breadcrumbs__container

	&__container {
		position: relative;
		z-index: 2;
	}

	// .breadcrumbs__list

	&__list {
		.breadcrumbs_white_shadow & {
			position: relative;
			overflow: hidden;
			&::after {
				content: "";
				position: absolute;
				right: 0;
				bottom: 0;
				width: 106px;
				height: 20px;
				background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
			}
		}
		white-space: nowrap;
		display: flex;
		gap: 7px;
		align-items: center;

		li {
			font-size: 14px;
			font-weight: 300;
			line-height: 24px; /* 171.429% */
			color: #242424;
			.breadcrumbs_light & {
				color: #fff;
			}
			&:not(:last-child) {
				display: flex;
				gap: 7px;
				align-items: center;
				&::after {
					content: "—";
					.breadcrumbs_light & {
						color: #fff;
					}
					color: #787878;
					font-size: 14px;
					font-weight: 300;
					line-height: 24px; /* 171.429% */
				}
			}
		}
	}

	// .breadcrumbs__link

	&__link {
		.breadcrumbs_light & {
			color: rgba(255, 255, 255, 0.9);
		}

		color: #787878;
	}
}
//===============================================================================================
.title {
	color: #242424;
	font-size: 56px;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	@media (max-width: $mobile) {
		font-size: 28px;
	}
}
//===============================================================================================
.favorite-card-btn {
	position: absolute;
	z-index: 2;
	top: 20px;
	right: 20px;
	@media (min-width: $mobile) {
		top: 16px;
		right: 16px;
	}

	width: 34px;
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #192b3f;
	border-radius: 50%;
	span {
		transition: all 0.3s ease 0s;
		width: 24px;
		height: 24px;
		background: url("@img/icons/hd_favorite.svg") 0 0 no-repeat;
		@media (any-hover: hover) {
			&:hover {
				background: url("@img/card/favorite-hover.svg") 0 0 no-repeat;
			}
		}
	}
	&.active {
		span {
			background: url("@img/card/favorite-active.svg") center center / contain no-repeat;
		}
	}
}
.white-gold-btn {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 24px;
	border-radius: 26px;
	background: #baac72;
	transition: all 0.3s ease 0s;

	color: #fff;
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;

	@media (any-hover: hover) {
		&:hover {
			background: #cec086;
		}
	}
	&:active {
		background: #a6985e;
	}
}
.blue-btn {
	height: 40px;
	padding: 0 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: max-content;
	margin: 0px auto;
	border-radius: 26px;
	background: #192b3f;
	transition: all 0.3s ease 0s;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	@media (any-hover: hover) {
		&:hover {
			background: #2d3f53;
		}
	}
	&:active {
		background: #05172b;
	}
}
//===============================================================================================
.card {
	// max-width: 390px;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid #e4e4e4;
	background: #fff;
	// .card__top

	&__top {
	}

	// .card__new

	&__new {
		position: absolute;
		z-index: 2;
		top: 20px;
		left: 20px;
		@media (min-width: $mobile) {
			top: 16px;
			left: 16px;
		}
		height: 34px;
		border-radius: 20px;
		padding: 0 14px;
		white-space: nowrap;

		display: flex;
		align-items: center;
		justify-content: center;
		background: #192b3f;

		color: #fff;
		text-align: center;
		font-size: 14px;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
	}

	// .card__img

	&__img {
		display: block;
		position: relative;
		border-radius: 10px;
		min-width: 256px;
		@media (min-width: $mobile) {
			min-width: 292px;
		}

		overflow: hidden;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 57%;
			left: 0;
			pointer-events: none;
			background: linear-gradient(1deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
		}

		@media (any-hover: hover) {
			&:hover {
				.card-button {
					opacity: 1;
				}
			}
		}
	}

	// .card__slider

	&__slider {
		height: 100%;
	}

	// .card__wrapper

	&__wrapper {
	}

	// .card__slide

	&__slide {
		width: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .card__info

	&__info {
		padding: 16px;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		.card_complex & {
			padding: 16px 16px 20px;
		}
		@media (min-width: $mobile) {
			padding: 23px 20px 32px;
			.card_complex & {
				padding: 23px 25px 32px;
			}
		}
	}
}
.info-card {
	// .info-card__bottom

	&__bottom {
	}
}
.info-card {
	// .info-card__top

	&__top {
		flex: 1 1 auto;
		border-bottom: 1px solid #e4e4e4;
		padding-bottom: 16px;
		@media (min-width: $mobile) {
			padding-bottom: 18px;
		}
	}

	// .info-card__bottom

	&__bottom {
	}
}
.top-card-info {
	// .top-card-info__loc

	&__loc {
		color: #767676;
		font-size: 14px;
		font-weight: 400;
		line-height: normal;

		margin-bottom: 10px;

		display: flex;
		gap: 5px;
		align-items: center;
		&::before {
			content: "";
			width: 24px;
			height: 24px;
			background: url("@img/card/loc.svg") center center / contain no-repeat;
		}
	}

	// .top-card-info__title

	&__title {
		display: block;
		color: #92844a;
		font-size: 20px;
		font-weight: 500;
		line-height: normal;
		text-transform: uppercase;
		margin-bottom: 8px;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}

		@media (min-width: $mobile) {
			line-height: 30px;
			margin-bottom: 10px;
		}
	}

	// .top-card-info__subtitle

	&__subtitle {
		font-size: 14px;
		font-weight: 400;
		line-height: normal;
		margin-bottom: 16px;
		@media (min-width: $mobile) {
			margin-bottom: 18px;
		}

		max-height: 40px;
		overflow: hidden;

		&._text-hide {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				right: 0;
				bottom: 0;
				width: 106px;
				height: 20px;
				background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
			}
		}
	}

	// .top-card-info__price

	&__price {
		color: #242424;
		font-size: 24px;
		font-weight: 500;
		line-height: normal;
		span {
			display: block;
		}
		@media (min-width: $mobile) {
			line-height: 30px;
		}
	}
}
.bottom-card-info {
	.card_complex & {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		padding-top: 10px;
		@media (min-width: $mobile) {
			padding-top: 8px;
		}
		span {
			color: #baac72;
			text-align: right;
			font-size: 14px;
			font-weight: 400;
			line-height: normal;
		}
	}
	// .bottom-card-info__row

	&__row {
		padding-top: 8px;
		display: flex;
		justify-content: center;
		gap: 32px;
		@media (min-width: $mobile) {
			gap: 26px;
			padding-top: 10px;
		}
	}

	// .bottom-card-info__item

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4px;
	}

	// .bottom-card-info__label

	&__label {
		color: #767676;
		font-size: 14px;
		font-weight: 400;
		line-height: normal;
	}
}
.item-bottom-info-card {
	// .item-bottom-info-card__title

	&__title {
		white-space: nowrap;
		color: #767676;
		font-size: 12px;
		font-weight: 400;
		line-height: normal;
		span {
			@media (min-width: $mobile) {
				display: none;
			}
		}
	}

	// .item-bottom-info-card__wrapper

	&__wrapper {
		display: flex;
		align-items: center;
		gap: 6px;
	}

	// .item-bottom-info-card__icon

	&__icon {
		width: 24px;
		height: 24px;
		font-size: 24px;
		color: #92844a;
		&._icon-card_floor {
			background: url("@img/icons/card_floor.svg") center center no-repeat;
		}
	}

	// .item-bottom-info-card__quantity

	&__quantity {
		white-space: nowrap;
		color: #242424;
		font-size: 16px;
		font-weight: 500;
		line-height: normal;
		span {
			@media (max-width: $mobile) {
				display: none;
			}
		}
	}
}
//===============================================================================================
.swiper-pagination {
	&.swiper-pagination-lock {
		display: none !important;
	}
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 9px;

	.swiper-pagination-bullet {
		cursor: pointer;
		transition: width 0.3s ease 0s;
		width: 3px;
		height: 3px;
		border-radius: 4px;
		background: rgba(45, 63, 83, 0.5);
		&-active {
			width: 33px !important;
			height: 4px;
			background: #2d3f53;
		}
	}
	// .swiper-pagination_card

	&_card {
		position: absolute;
		z-index: 3;
		left: 50%;
		transform: translateX(-50%);
		bottom: 17px;
		@media (min-width: $mobile) {
			bottom: 20px;
		}

		.swiper-pagination-bullet {
			width: 4px;
			height: 4px;
			background: #ffffffcc;
			&-active {
				background-color: #fff;
			}
		}
	}
}
.card-button {
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 34px;
	height: 34px;
	color: #192b3f;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #ffffffcc;
	transition: all 0.3s ease 0s;
	&:active {
		transform: translateY(-50%) scale(0.8);
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: #fff;
		}
	}
	&.swiper-button-disabled {
		display: none;
	}
	@media (max-width: $mobile) {
		display: none;
	}
	&::before {
		font-size: 16px;
	}
	// .card-button_prev

	&_prev {
		left: 20px;
		padding-right: 3px;
	}

	// .card-button_next

	&_next {
		right: 20px;
		padding-left: 3px;
	}
}
//===============================================================================================
.cards-main {
	@media (min-width: $mobile) {
		position: relative;
		z-index: 3;
		margin: 0 -60px;
		padding: 0 60px;
	}
	@media (any-hover: hover) {
		&:hover {
			.cards-main-button {
				opacity: 1;
			}
		}
	}
	// .cards-main__slider

	&__slider {
		position: relative;
	}

	// .cards-main__wrapper

	&__wrapper {
	}

	// .cards-main__slide

	&__slide {
		.district__slider & {
			@media (max-width: $mobile) {
				max-width: 260px;
			}
		}
	}

	// .cards-main__pagination

	&__pagination {
		margin-top: 30px;
		@media (min-width: $mobile) {
			margin-top: 48px;
		}
	}

	// .cards-main__link

	&__link {
		margin-top: 24px;
	}
}
.cards-main-button {
	opacity: 0;
	position: absolute;
	top: 283px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid;
	transition: all 0.3s ease 0s;
	.command_dark & {
		color: #ffffff80;
	}
	color: #192b3f;
	@media (any-hover: hover) {
		&:hover {
			background-color: #192b3f4d;
			.command_dark & {
				color: #ffffff;
			}
		}
	}
	&:active {
		background-color: #192b3f;
		color: #fff;
	}
	&.swiper-button-disabled {
		pointer-events: none;
		color: #192b3f80;
	}
	// .cards-main-button_prev

	&_prev,
	&.district-button_prev {
		left: 0;
		padding-right: 3px;
	}

	// .cards-main-button_next

	&_next,
	&.district-button_next {
		right: 0;
		padding-left: 3px;
	}
}
//===============================================================================================
.custom-select-filter {
	&._open {
		.custom-select-filter__title {
			border: 1px solid #baac72;
			background: #233549;
			@media (min-width: $mobile) {
				background-color: #fff;
			}
			&::before {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}
	// .custom-select-filter__title

	&__title {
		@media (min-width: $mobile) {
			border: 1px solid #aaa;
			background-color: #fff;
			color: #242424;
		}
		border: 1px solid #2d3f53;
		background: #192b3f;
		height: 40px;
		width: 100%;
		border-radius: 8px;
		padding: 8px 40px 8px 16px;

		color: #9ea6ae;
		text-align: left;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px; /* 171.429% */

		position: relative;
		&::before {
			transition: all 0.3s ease 0s;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 15px;
			font-size: 10px;
		}
	}

	// .custom-select-filter__body

	&__body {
		border-radius: 8px;
		overflow: hidden;
		margin-top: 5px;
		@media (min-width: $mobile) {
			margin-top: 8px;
		}
		border-radius: 8px;
	}

	// .custom-select-filter__content

	&__content {
		@media (min-width: $mobile) {
			border: 1px solid #f1f1f1;
			background-color: #fff;
		}
		border: 1px solid #2d3f53;
		background: #233549;
		max-width: 365px;
		max-height: 191px;
		border-radius: 8px;
		margin-right: 10px;

		.simplebar-track.simplebar-vertical {
			right: -10px;
		}
	}

	// .custom-select-filter__item

	&__item {
		&:not(:last-child) {
			margin-bottom: 2px;
		}
		transition: all 0.3s ease 0s;
		cursor: pointer;
		padding: 6px 16px;
		border-radius: 8px;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px; /* 171.429% */
		border: 1px solid transparent;
		background: #233549;
		@media (min-width: $mobile) {
			background: #fff;
		}
		&._selected {
			display: flex;
			align-items: center;
			gap: 10px;
			color: #baac72;
			border: 1px solid #baac72;
			background-color: #2d3f53;
			@media (min-width: $mobile) {
				background-color: #fff;
			}

			&::before {
				content: "";
				flex: 0 0 6px;
				height: 6px;
				border-radius: 50%;
				background-color: #baac72;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				border: 1px solid #baac72;
			}
		}
	}

	// .custom-select-filter__bottom

	&__bottom {
		&._hidden {
			display: none;
		}
		margin-top: 10px;
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
	}
}
.bottom-custom-select {
	// .bottom-custom-select__item

	&__item {
		border-radius: 8px;
		border: 1px solid #baac72;
		@media (min-width: $mobile) {
			background: #fff;
		}
		background: #2d3f53;

		display: flex;
		align-items: center;
		gap: 19px;
		padding: 0 16px;
		height: 36px;

		color: #baac72;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px; /* 171.429% */

		&::after {
			content: "";
			width: 14px;
			height: 14px;
			background: url("@img/popup/close_gold.svg") center center / contain no-repeat;
		}
	}
}
//===============================================================================================
.district-card {
	// .district-card__img

	&__img {
		border-radius: 2px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			@media (max-width: $mobile) {
				object-fit: cover;
				min-height: 416px;
			}
		}
	}

	// .district-card__info

	&__info {
		margin-top: 16px;
	}

	// .district-card__title

	&__title {
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #baac72;
			}
		}

		font-size: 24px;
		font-weight: 500;
		line-height: normal;
		text-transform: uppercase;

		@media (min-width: $mobile) {
			font-size: 22px;
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					transform: rotate(45deg);
				}
			}
		}
		&::after {
			transition: transform 0.3s ease 0s;
			margin-left: 12px;
			display: inline-block;
			font-weight: 700;
			margin-top: 4px;
			font-size: 21px;
		}
	}

	// .district-card__subtitle

	&__subtitle {
		margin-top: 4px;
		color: #707070;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px; /* 162.5% */

		-webkit-line-clamp: 2;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}
//===============================================================================================
.command {
	padding: 60px 0;
	@media (min-width: $mobile) {
		padding: 128px 0;
	}
	background: #ebeae7;
	// .command_dark

	&_dark {
		background: transparent;
	}

	// .command__container

	&__container {
	}

	// .command__row

	&__row {
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		@media (min-width: $mobile) {
			gap: 30px;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		}
	}

	// .command__title

	&__title {
		@media (min-width: $mobile) {
			font-size: 46px;
			line-height: 56px; /* 121.739% */
			margin-bottom: 56px;
		}

		.page-about & {
			font-weight: 500;
		}

		margin-bottom: 32px;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 34px; /* 141.667% */
	}

	// .command__body

	&__body {
		@media (min-width: $mobile) {
			position: relative;
			margin: 0 -60px;
			padding: 0 60px;
		}
		@media (any-hover: hover) {
			&:hover {
				.cards-main-button {
					opacity: 1;
				}
			}
		}
	}

	// .command__slider

	&__slider {
		@media (max-width: $mobile) {
			padding: 0 17px;
			margin: 0px -17px;
		}
	}

	// .command__slide

	&__slide {
		@media (max-width: $mobile) {
			width: 212px;
		}
	}

	.swiper-pagination {
		display: none;
		@media (min-width: $mobile) {
			margin-top: 48px;
			display: flex;
			justify-content: start;
			.swiper-pagination-bullet-active {
				width: 100px !important;
			}
			.command_dark & {
				.swiper-pagination-bullet {
					background-color: #ffffff80;
				}
				.swiper-pagination-bullet-active {
					background-color: #fff;
				}
			}
		}
	}
}
.command-slide {
	// .command-slide__img

	&__img {
		margin-bottom: 20px;
		min-height: 293px;
		@media (min-width: $mobile) {
			min-height: 400px;
		}
		@media (min-width: $tablet) {
			min-height: 504px;
		}
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			object-fit: cover;
		}
	}

	// .command-slide__info

	&__info {
	}

	// .command-slide__name

	&__name {
		font-weight: 500;
		line-height: 26px; /* 144.444% */
	}

	// .command-slide__label

	&__label {
		.command_dark & {
			color: #f6f6f6;
		}
		font-size: 14px;
		font-weight: 300;
		line-height: normal;
	}
}
.command-swiper {
	// .command-swiper_prev

	&_prev {
		left: 0;
		padding-right: 3px;
	}

	// .command-swiper_next

	&_next {
		padding-left: 3px;
		right: 0;
	}
}
//===============================================================================================
.article {
	padding-bottom: 80px;
	// .article_grey

	&_grey {
		background: #f4f4f4;
	}
	.text-wrapper-mw {
		@media (min-width: $mobile) {
			padding: 80px 0 120px;
		}
		padding: 60px 0 120px;
	}

	// .article__title

	&__title {
		font-size: 18px;
		line-height: 28px; /* 155.556% */
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 24px;
		// .article__title_h2

		&_h2 {
			line-height: 32px; /* 145.455% */
			font-size: 22px;
			margin-bottom: 30px;
		}
	}

	// .article__body

	&__body {
		& > *:not(:last-child) {
			margin-bottom: 48px;
		}
	}

	// .article__item

	&__item {
		& > *:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	// .article__text

	&__text {
		font-weight: 400;
		line-height: 28px; /* 155.556% */
	}

	// .article__list

	&__list {
		& > *:not(:last-child) {
			margin-bottom: 12px;
		}
		padding-left: 39px;
		@media (min-width: $mobile) {
			padding-left: 75px;
		}
		li {
			line-height: 28px;
		}

		// .article__list_icon

		&_icon {
			li {
				position: relative;
				&::before {
					content: "";
					position: absolute;
					right: calc(100% + 4px);
					top: 0;
					width: 24px;
					height: 28px;
					background: url("@img/article/list_icon.svg") center center no-repeat;
				}
			}
		}
		&_num {
			li {
				padding-left: 3px;
			}
		}
	}

	// .article__list-bold-text

	&__list-bold-text {
		font-weight: 600;
	}

	// .article__important

	&__important {
		&:not(:first-child) {
			border-top: 6px solid transparent;
		}
		&:not(:last-child) {
			border-bottom: 6px solid transparent;
		}
		padding: 13px 0 13px 23px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 3px;
			height: 100%;
			background-color: #baac72;
			border-radius: 3px;
		}
	}

	// .article__message
	&__message {
		&:not(:first-child) {
			border-top: 6px solid transparent;
		}
		&:not(:last-child) {
			border-bottom: 6px solid transparent;
		}
		padding-left: 24px;
		background: url("@img/article/message.svg") left center no-repeat;

		@media (min-width: $mobile) {
			padding: 24px 0 24px 24px;
			background: url("@img/article/message.svg") left top no-repeat;
		}
	}
}
.article-text-gold {
	color: #baac72;
}
.important-article {
	// .important-article__title

	&__title {
		margin-bottom: 12px;
		font-size: 20px;
		font-weight: 500;
		line-height: 30px; /* 150% */
		text-transform: uppercase;
	}
}
.message-article {
	// .message-article_white

	&_white {
		background: url("@img/article/message_white.svg") left center no-repeat;
		@media (min-width: $mobile) {
			background: url("@img/article/message_white.svg") left top no-repeat;
		}
	}

	// .message-article__title

	&__title {
		font-size: 20px;
		font-weight: 600;
		line-height: 30px; /* 150% */
		margin-bottom: 12px;
	}
}
//===============================================================================================
.text-wrapper-mw {
	@media (min-width: $mobile) {
		background: url("@img/text-wrappen_decor.svg") top right;
		background-repeat: repeat-y;
	}

	&__content {
		max-width: 705px;
	}
}
//===============================================================================================
.pb-0 {
	padding-bottom: 0 !important;
}
.p-0 {
	padding: 0 !important;
}
.article-padding {
	padding-bottom: 80px !important;
	@media (min-width: $mobile) {
		padding-bottom: 120px !important;
	}
}
//===============================================================================================
//===============================================================================================
//===============================================================================================
.lg-next {
	width: 59px;
	height: 59px;
	padding: 0;
	background: url("@img/images-popup/arr_next.svg") center center / contain no-repeat;
	&::before {
		content: "";
		display: none;
	}
}
.lg-prev {
	rotate: 180deg;
	width: 59px;
	height: 59px;
	padding: 0;
	background: url("@img/images-popup/arr_next.svg") center center / contain no-repeat;
	&::after {
		content: "";
		display: none;
	}
}
.lg-next,
.lg-prev {
	@media (any-hover: hover) {
		&:hover {
			background: url("@img/images-popup/arr_next_hv.svg") center center / contain no-repeat;
		}
	}
}
.lg-counter {
	padding: 0 !important;
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translateX(-50%);
	@media (max-height: 750px) {
		top: 30px;
	}
	@media (max-width: $mobile) {
		top: 30px;
	}

	font-size: 21px !important;
	line-height: 30.35px;
	color: #fff !important;
}

.lg-outer .lg-img-wrap {
	max-height: 620px;
	left: 50% !important;
	top: 50% !important;
	transform: translate(-50%, -50%) !important;
	@media (max-height: 770px) {
		max-height: calc(100% - 170px);
	}
}

.lg-close.lg-icon {
	display: block !important;

	position: absolute;
	left: 70px;
	top: 40px;
	padding: 0 !important;
	@media (max-width: $mobile) {
		top: 24px;
		left: 17px;
		width: 40px;
		height: 40px;
	}
	background: url("@img/images-popup/close.svg") center center no-repeat !important;
	&::after {
		content: "";
		display: none;
	}
	@media (max-height: 750px) {
		top: 20px;
	}
	@media (max-width: $mobile) {
		top: 20px;
	}
}
.lg-prev {
	left: 70px !important;
}
.lg-next {
	right: 70px !important;
}
//===============================================================================================
.lg-outer .lg-object {
	@media (max-width: $mobile) {
		max-width: calc(100% - 30px) !important;
	}
}
.lg-toolbar .lg-icon {
	color: #fff;
	position: absolute;
}
.lg-share.lg-icon {
	top: 20px;
	right: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	&::after {
		content: "" !important;
		background: url("@img/images-popup/share_white.svg") center center no-repeat;
		width: 16px;
		height: 19px;
		display: block;
	}
	@media (min-width: $mobile) {
		right: 104px;
	}
}
.lg-outer .lg-dropdown .lg-icon {
	position: relative;
}
