.page-favorite {
	.card {
		border-radius: 0;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		.card__img {
			border-radius: 2px;
			img {
				width: 102%;
				height: 102%;
				position: relative;
				left: -2px;
				top: -2px;
			}
		}
		.favorite-card-btn {
			&.active {
				transition: all 0.3s ease 0s;
				@media (any-hover: hover) {
					&:hover {
						transform: scale(1.1);
					}
				}
			}
		}
	}
	// .page-favorite__container

	&__container {
		margin-bottom: 80px;
		display: flex;
		flex-direction: column;
		@media (min-width: $tablet) {
			align-items: flex-start;
			position: relative;
			flex-direction: row;
			gap: 135px;
		}
		gap: 64px;
	}

	// .page-favorite__content

	&__content {
		min-width: 0;
		flex: 1 1 auto;
	}

	// .page-favorite__subtitle

	&__subtitle {
		margin-top: 48px;
		margin-bottom: 24px;
		padding-bottom: 24px;
		border-bottom: 1px solid #d4d4d4;
		font-size: 22px;
		font-weight: 500;
		line-height: normal;
		text-transform: uppercase;
	}

	// .page-favorite__list

	&__list {
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
	}

	// .page-favorite__reset

	&__reset {
		position: relative;
		display: block;
		max-width: max-content;
		margin: 0px auto;
		margin-top: 48px;
		color: #baac72;
		font-size: 14px;
		font-weight: 500;
		line-height: normal;
		text-transform: uppercase;
		padding-bottom: 6px;
		@media (any-hover: hover) {
			&:hover {
				&::before {
					width: 100%;
				}
			}
		}
		&::before {
			content: "";
			transition: all 0.3s ease 0s;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 1px;
			background: #baac72;
		}
	}
}
//===============================================================================================
.favorite-empty {
	text-align: center;
	margin-top: 120px;
	@media (min-width: $mobile) {
		margin-top: 184px;
		font-size: 24px;
		max-width: 464px;
	}
	font-size: 18px;
	font-weight: 400;
	line-height: 158.333%;
	max-width: 342px;
	margin: 0px auto;
	// .favorite-empty__icon

	&__icon {
		transform: translate(0, 4px);
		width: 24px;
		height: 22px;
		display: inline-block;
		background: url("@img/favorite/icon.svg") center center / contain no-repeat;
	}

	// .favorite-empty__link

	&__link {
		margin-top: 24px;
	}
}
