.wrapper-not-found {
	cursor: none;
	background: #192b3f;
	color: #fff;

	// .wrapper-not-found__header

	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 10px;
		padding-bottom: 20px;
		@media (min-width: $mobile) {
			padding-top: 40px;
		}
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	// .wrapper-not-found__body

	&__body {
		width: 100%;
		max-width: 1130px;
		margin: 0px auto;
		padding: 0 40px;
		position: relative;
		z-index: 13000;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 1 auto;
		@media (min-width: 1024px) {
			@include adaptiveValue("gap", 157, 10);
			flex: 1 1 calc(100% - 150px);
		}
	}

	// .wrapper-not-found__info

	&__info {
		flex: 0 1 443px;
	}

	// .wrapper-not-found__title

	&__title {
		margin-bottom: 20px;
		font-weight: 500;
		font-size: 36px;
		line-height: 120%;
		&::after {
			content: "";
			display: inline-block;
			width: 62px;
			height: 41px;
			background: url("@img/404/mini_bg.png") center center / contain no-repeat;
		}
		@media (min-width: 1024px) {
			font-size: 62px;
			line-height: 72px; /* 116.129% */
			&::after {
				display: none;
			}
		}
	}

	// .wrapper-not-found__subtitle

	&__subtitle {
		color: rgba(255, 255, 255, 0.6);
		font-size: 16px;
		font-weight: 400;
		line-height: 26px; /* 162.5% */
		margin-bottom: 35px;
		@media (min-width: $mobile) {
			margin-bottom: 46px;
		}
	}

	// .wrapper-not-found__link

	&__link {
		transition: all 0.3s ease 0s;
		font-size: 14px;
		font-weight: 500;
		line-height: normal;
		text-transform: uppercase;
		display: inline-flex;
		align-items: center;
		gap: 10px;
		@media (any-hover: hover) {
			&:hover {
				color: #baac72;
				&::after {
					transform: rotate(45deg);
				}
			}
		}
		&::after {
			transition: transform 0.3s ease 0s;
			font-size: 16px;
		}
	}

	// .wrapper-not-found__img

	&__img {
		display: none;
		@media (min-width: 1024px) {
			display: block;
		}
		border-radius: 15px;

		overflow: hidden;
		flex: 0 0 450px;
		position: relative;
		padding: 0px 0px 31.3% 0px;
		img {
			object-fit: cover;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}

.circle-cursor {
	.touch & {
		display: none;
	}
	position: fixed;
	left: 0;
	top: 0;
	pointer-events: none;
	border-radius: 50%;

	&--outer {
		width: 150px;
		height: 150px;
		border: 1px solid white;
		z-index: 12000;
		background: white;
		box-shadow: 0 0 80px 100px white;
		opacity: 1;
		mix-blend-mode: overlay;
	}

	&--inner {
		width: 5px;
		height: 5px;
		left: -2.5px;
		top: -2.5px;
		z-index: 11000;
		background: #fff;
	}
}
